# This is a basic workflow to help you get started with Actions



# Controls when the workflow will run

  # Triggers the workflow on push or pull request events but only for the main branch
 
   
  
 

  # Allows you to run this workflow manually from the Actions tab
  

# A workflow run is made up of one or more jobs that can run sequentially or in parallel

  # This workflow contains a single h

 name: Generate Datas

on:

  schedule: # execute every 12 hours

    - cron: "* */12 * * *"

  workflow_dispatch:

jobs:

  build:

    name: Jobs to update datas

    runs-on: ubuntu-latest

    steps:

      # Snake Animation

      - uses: Platane/snk@master

        id: snake-gif

        with:

          github_user_name: Voidzzw999

          svg_out_path: dist/github-contribution-grid-snake.svg

      - uses: crazy-max/ghaction-github-pages@v2.1.3

        with:

          target_branch: output

          build_dir: dist

        env:

          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    

    # Steps represent a sequence of tasks that will be executed as part of the job
    
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      

      # Runs a single command using the runners shell
      
        

      # Runs a set of commands using the runners shell


      

